Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb

! URXVT
!----------------------------------------------------------------------

!URxvt.borderless: false
!URxvt.internalBorder: 3
!URxvt.externalBorder: 3
!URxvt.scrollBar: false
!URxvt.font: xft:Fira Mono:pixelsize=12:antialias=true
!URxvt.boldFont: xft:Fira Mono:pixelsize=12:antialias=true

! tabs
!URxvt.tabbed.tabbar-bg: -1
!URxvt.tabbed.tabbar-fg: -2
!URxvt.tabbed.tab-bg: -2
!URxvt.tabbed.tab-fg: -1
!URxvt.tabbed.title-bg: -1
!URxvt.tabbed.title-fg: -2
!URxvt.tabbed.autohide: true
!URxvt.tabbed.new-button: false
!URxvt.tabbed.title: true
