SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", ATTR{idProduct}=="d00d", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTR{idProduct}=="db42", MODE="0660", GROUP="uucp"
